In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:\\Users\\Tusya Marsonia\\Desktop\\kaggle data\\heart_attack_south_africa.csv")

In [3]:
data.head()

,Patient_ID,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,1,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0
1,2,39,Female,160,185,88,No,Low,Sedentary,21.3,No,No,Average,Medium,No,Yes,150,81,42,0
2,3,85,Male,254,173,113,Yes,Moderate,Highly Active,32.0,Yes,No,Good,Low,No,No,220,124,70,1
3,4,45,Female,261,187,65,No,High,Sedentary,36.4,No,Yes,Average,Low,No,Yes,141,56,38,1
4,5,48,Male,206,189,84,No,Low,Active,26.6,No,No,Good,High,No,No,221,186,26,0

In [4]:
data.drop('Patient_ID', inplace=True, axis=1)

In [5]:
data.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0
1,39,Female,160,185,88,No,Low,Sedentary,21.3,No,No,Average,Medium,No,Yes,150,81,42,0
2,85,Male,254,173,113,Yes,Moderate,Highly Active,32.0,Yes,No,Good,Low,No,No,220,124,70,1
3,45,Female,261,187,65,No,High,Sedentary,36.4,No,Yes,Average,Low,No,Yes,141,56,38,1
4,48,Male,206,189,84,No,Low,Active,26.6,No,No,Good,High,No,No,221,186,26,0

In [6]:
unique = data['Alcohol_Intake'].unique()
unique

array(['High', 'Low', 'Moderate'], dtype=object)

In [7]:
hot_data = data[['Gender','Cholesterol_Level','Blood_Pressure_Systolic','Alcohol_Intake','Physical_Activity','Diet_Quality','Stress_Level']]

In [8]:
hot_data.head()

,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Alcohol_Intake,Physical_Activity,Diet_Quality,Stress_Level
0,Female,156,94,High,Sedentary,Good,High
1,Female,160,185,Low,Sedentary,Average,Medium
2,Male,254,173,Moderate,Highly Active,Good,Low
3,Female,261,187,High,Sedentary,Average,Low
4,Male,206,189,Low,Active,Good,High

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
encoder = OneHotEncoder(sparse_output=False)
array = encoder.fit_transform(hot_data)
hordone = pd.DataFrame(array, columns=encoder.get_feature_names_out())
hordone

,Gender_Female,Gender_Male,Cholesterol_Level_150,Cholesterol_Level_151,Cholesterol_Level_152,Cholesterol_Level_153,Cholesterol_Level_154,Cholesterol_Level_155,Cholesterol_Level_156,Cholesterol_Level_157,...,Alcohol_Intake_Moderate,Physical_Activity_Active,Physical_Activity_Highly Active,Physical_Activity_Sedentary,Diet_Quality_Average,Diet_Quality_Good,Diet_Quality_Poor,Stress_Level_High,Stress_Level_Low,Stress_Level_Medium
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
99996,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
99997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
99998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
99999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [11]:
data[:1]

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0

In [12]:
mms_data = data[['Age','Cholesterol_Level','Blood_Pressure_Systolic','Blood_Pressure_Diastolic','Obesity_Index','Triglycerides_Level','LDL_Level','HDL_Level']]
mms_data.head()

,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level
0,76,156,94,79,35.2,264,141,65
1,39,160,185,88,21.3,150,81,42
2,85,254,173,113,32.0,220,124,70
3,45,261,187,65,36.4,141,56,38
4,48,206,189,84,26.6,221,186,26

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
refdata = scaler.fit_transform(mms_data)
refdata = pd.DataFrame(refdata,columns=scaler.get_feature_names_out())
refdata

,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level
0,0.796875,0.040268,0.036697,0.322034,0.781818,0.859438,0.610738,0.762712
1,0.218750,0.067114,0.871560,0.474576,0.150000,0.401606,0.208054,0.372881
2,0.937500,0.697987,0.761468,0.898305,0.636364,0.682731,0.496644,0.847458
3,0.312500,0.744966,0.889908,0.084746,0.836364,0.365462,0.040268,0.305085
4,0.359375,0.375839,0.908257,0.406780,0.390909,0.686747,0.912752,0.101695
...,...,...,...,...,...,...,...,...
99995,0.468750,0.248322,0.633028,0.474576,0.677273,0.702811,0.724832,0.474576
99996,0.921875,0.147651,0.724771,0.440678,0.272727,0.437751,0.402685,0.067797
99997,0.656250,1.000000,0.403670,0.508475,0.654545,0.678715,0.610738,0.033898
99998,0.125000,0.476510,0.642202,0.661017,0.959091,0.325301,0.946309,0.694915
99999,0.890625,0.174497,0.036697,0.525424,0.104545,0.152610,0.798658,0.745763

In [14]:
data.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0
1,39,Female,160,185,88,No,Low,Sedentary,21.3,No,No,Average,Medium,No,Yes,150,81,42,0
2,85,Male,254,173,113,Yes,Moderate,Highly Active,32.0,Yes,No,Good,Low,No,No,220,124,70,1
3,45,Female,261,187,65,No,High,Sedentary,36.4,No,Yes,Average,Low,No,Yes,141,56,38,1
4,48,Male,206,189,84,No,Low,Active,26.6,No,No,Good,High,No,No,221,186,26,0

In [15]:
hot_data = data[['Gender','Smoking_Status','Alcohol_Intake','Physical_Activity','Family_History_Heart_Disease','Diet_Quality','Stress_Level','Heart_Attack_History','Medication_Usage']]
hot_data.head()

,Gender,Smoking_Status,Alcohol_Intake,Physical_Activity,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage
0,Female,No,High,Sedentary,No,Good,High,No,No
1,Female,No,Low,Sedentary,No,Average,Medium,No,Yes
2,Male,Yes,Moderate,Highly Active,No,Good,Low,No,No
3,Female,No,High,Sedentary,Yes,Average,Low,No,Yes
4,Male,No,Low,Active,No,Good,High,No,No

In [16]:
encoder = OneHotEncoder(sparse_output=False)
array = encoder.fit_transform(hot_data)
hot_data = pd.DataFrame(array, columns=encoder.get_feature_names_out())
hot_data

,Gender_Female,Gender_Male,Smoking_Status_No,Smoking_Status_Yes,Alcohol_Intake_High,Alcohol_Intake_Low,Alcohol_Intake_Moderate,Physical_Activity_Active,Physical_Activity_Highly Active,Physical_Activity_Sedentary,...,Diet_Quality_Average,Diet_Quality_Good,Diet_Quality_Poor,Stress_Level_High,Stress_Level_Low,Stress_Level_Medium,Heart_Attack_History_No,Heart_Attack_History_Yes,Medication_Usage_No,Medication_Usage_Yes
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
99996,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
99997,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
99998,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
99999,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [17]:
num_features = hot_data
num_features

,Gender_Female,Gender_Male,Smoking_Status_No,Smoking_Status_Yes,Alcohol_Intake_High,Alcohol_Intake_Low,Alcohol_Intake_Moderate,Physical_Activity_Active,Physical_Activity_Highly Active,Physical_Activity_Sedentary,...,Diet_Quality_Average,Diet_Quality_Good,Diet_Quality_Poor,Stress_Level_High,Stress_Level_Low,Stress_Level_Medium,Heart_Attack_History_No,Heart_Attack_History_Yes,Medication_Usage_No,Medication_Usage_Yes
0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
99996,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
99997,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
99998,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
99999,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [18]:
data.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0
1,39,Female,160,185,88,No,Low,Sedentary,21.3,No,No,Average,Medium,No,Yes,150,81,42,0
2,85,Male,254,173,113,Yes,Moderate,Highly Active,32.0,Yes,No,Good,Low,No,No,220,124,70,1
3,45,Female,261,187,65,No,High,Sedentary,36.4,No,Yes,Average,Low,No,Yes,141,56,38,1
4,48,Male,206,189,84,No,Low,Active,26.6,No,No,Good,High,No,No,221,186,26,0

In [19]:
cat_features = refdata
cat_features

,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level
0,0.796875,0.040268,0.036697,0.322034,0.781818,0.859438,0.610738,0.762712
1,0.218750,0.067114,0.871560,0.474576,0.150000,0.401606,0.208054,0.372881
2,0.937500,0.697987,0.761468,0.898305,0.636364,0.682731,0.496644,0.847458
3,0.312500,0.744966,0.889908,0.084746,0.836364,0.365462,0.040268,0.305085
4,0.359375,0.375839,0.908257,0.406780,0.390909,0.686747,0.912752,0.101695
...,...,...,...,...,...,...,...,...
99995,0.468750,0.248322,0.633028,0.474576,0.677273,0.702811,0.724832,0.474576
99996,0.921875,0.147651,0.724771,0.440678,0.272727,0.437751,0.402685,0.067797
99997,0.656250,1.000000,0.403670,0.508475,0.654545,0.678715,0.610738,0.033898
99998,0.125000,0.476510,0.642202,0.661017,0.959091,0.325301,0.946309,0.694915
99999,0.890625,0.174497,0.036697,0.525424,0.104545,0.152610,0.798658,0.745763

In [20]:
main = pd.concat([cat_features,num_features],axis=1)
main.head()

,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level,Gender_Female,Gender_Male,...,Diet_Quality_Average,Diet_Quality_Good,Diet_Quality_Poor,Stress_Level_High,Stress_Level_Low,Stress_Level_Medium,Heart_Attack_History_No,Heart_Attack_History_Yes,Medication_Usage_No,Medication_Usage_Yes
0,0.796875,0.040268,0.036697,0.322034,0.781818,0.859438,0.610738,0.762712,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.218750,0.067114,0.871560,0.474576,0.150000,0.401606,0.208054,0.372881,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
2,0.937500,0.697987,0.761468,0.898305,0.636364,0.682731,0.496644,0.847458,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.312500,0.744966,0.889908,0.084746,0.836364,0.365462,0.040268,0.305085,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,0.359375,0.375839,0.908257,0.406780,0.390909,0.686747,0.912752,0.101695,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [21]:
data.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,76,Female,156,94,79,No,High,Sedentary,35.2,No,No,Good,High,No,No,264,141,65,0
1,39,Female,160,185,88,No,Low,Sedentary,21.3,No,No,Average,Medium,No,Yes,150,81,42,0
2,85,Male,254,173,113,Yes,Moderate,Highly Active,32.0,Yes,No,Good,Low,No,No,220,124,70,1
3,45,Female,261,187,65,No,High,Sedentary,36.4,No,Yes,Average,Low,No,Yes,141,56,38,1
4,48,Male,206,189,84,No,Low,Active,26.6,No,No,Good,High,No,No,221,186,26,0

In [22]:
main = pd.concat([main,data['Heart_Attack_Outcome']],axis=1)
main.head()

,Age,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Obesity_Index,Triglycerides_Level,LDL_Level,HDL_Level,Gender_Female,Gender_Male,...,Diet_Quality_Good,Diet_Quality_Poor,Stress_Level_High,Stress_Level_Low,Stress_Level_Medium,Heart_Attack_History_No,Heart_Attack_History_Yes,Medication_Usage_No,Medication_Usage_Yes,Heart_Attack_Outcome
0,0.796875,0.040268,0.036697,0.322034,0.781818,0.859438,0.610738,0.762712,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0
1,0.218750,0.067114,0.871560,0.474576,0.150000,0.401606,0.208054,0.372881,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0
2,0.937500,0.697987,0.761468,0.898305,0.636364,0.682731,0.496644,0.847458,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1
3,0.312500,0.744966,0.889908,0.084746,0.836364,0.365462,0.040268,0.305085,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1
4,0.359375,0.375839,0.908257,0.406780,0.390909,0.686747,0.912752,0.101695,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0

In [23]:
X = main.drop(columns='Heart_Attack_Outcome')
y = main['Heart_Attack_Outcome']

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.metrics import accuracy_score
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=42)
model = RandomForestClassifier(n_estimators=200, max_depth=10, min_samples_split=5, random_state=42)
model.fit(X_train,y_train)
y_preds = model.predict(X_test)
accu = accuracy_score(y_test,y_preds)
accu

0.9326

In [25]:
print(model.feature_importances_)

[0.1867879  0.1809218  0.05993299 0.05588436 0.1860798  0.00495309
 0.00454775 0.00395914 0.00048127 0.00047019 0.08724211 0.07752143
 0.00045109 0.00051046 0.00049416 0.00045881 0.00044656 0.00049695
 0.0747801  0.06904436 0.00044902 0.00047163 0.00045033 0.0005025
 0.00044524 0.00046987 0.00043584 0.00043342 0.00044388 0.00043395]

In [26]:
from sklearn.metrics import classification_report, precision_score, recall_score, f1_score
ps = precision_score(y_test,y_preds)
f1 = f1_score(y_test,y_preds)
rs = recall_score(y_test,y_preds)
ps,f1,rs

(0.9809163824098829, 0.9404277885805197, 0.9031491384432561)

In [27]:
from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
lab_data = data.apply(label.fit_transform)
lab_data.head()

,Age,Gender,Cholesterol_Level,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Smoking_Status,Alcohol_Intake,Physical_Activity,Obesity_Index,Diabetes_Status,Family_History_Heart_Disease,Diet_Quality,Stress_Level,Heart_Attack_History,Medication_Usage,Triglycerides_Level,LDL_Level,HDL_Level,Heart_Attack_Outcome
0,51,0,6,4,19,0,0,2,172,0,0,1,0,0,0,214,91,45,0
1,14,0,10,95,28,0,1,2,33,0,0,0,2,0,1,100,31,22,0
2,60,1,104,83,53,1,2,1,140,1,0,1,1,0,0,170,74,50,1
3,20,0,111,97,5,0,0,2,184,0,1,0,1,0,1,91,6,18,1
4,23,1,56,99,24,0,1,0,86,0,0,1,0,0,0,171,136,6,0

In [28]:
X = lab_data.drop(columns='Heart_Attack_Outcome')
y = lab_data['Heart_Attack_Outcome']

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
clf = RandomForestClassifier()
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.2, random_state=42)
clf.fit(X_train,y_train)
y_preds = clf.predict(X_test)
accu = accuracy_score(y_preds,y_test)
accu

0.9993875

In [38]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Assuming X and y are already defined
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=42)

# Initialize the model with warm start so trees are added incrementally
clf = RandomForestClassifier(n_estimators=1, warm_start=True, random_state=42, min_samples_split=5)

train_accuracies = []
test_accuracies = []
num_trees = 10  # Number of trees to track performance

for i in range(1, 50):
    clf.n_estimators = i  # Incrementally add trees
    clf.fit(X_train, y_train)  # Train with updated trees
    
    # Make predictions
    y_train_preds = clf.predict(X_train)
    y_test_preds = clf.predict(X_test)

    # Calculate accuracy
    train_acc = accuracy_score(y_train, y_train_preds)
    test_acc = accuracy_score(y_test, y_test_preds)

    # Display accuracy at each step
    print(f"Tree {i}: Train Acc = {train_acc:.4f}, Test Acc = {test_acc:.4f}")

Tree 1: Train Acc = 0.9574, Test Acc = 0.9053
Tree 2: Train Acc = 0.9727, Test Acc = 0.9272
Tree 3: Train Acc = 0.9936, Test Acc = 0.9662
Tree 4: Train Acc = 0.9956, Test Acc = 0.9723
Tree 5: Train Acc = 0.9986, Test Acc = 0.9846
Tree 6: Train Acc = 0.9991, Test Acc = 0.9884
Tree 7: Train Acc = 0.9995, Test Acc = 0.9914
Tree 8: Train Acc = 0.9996, Test Acc = 0.9927
Tree 9: Train Acc = 0.9998, Test Acc = 0.9935
Tree 10: Train Acc = 0.9998, Test Acc = 0.9946
Tree 11: Train Acc = 0.9998, Test Acc = 0.9948
Tree 12: Train Acc = 0.9998, Test Acc = 0.9955
Tree 13: Train Acc = 0.9999, Test Acc = 0.9961
Tree 14: Train Acc = 0.9999, Test Acc = 0.9966
Tree 15: Train Acc = 0.9999, Test Acc = 0.9964
Tree 16: Train Acc = 1.0000, Test Acc = 0.9965
Tree 17: Train Acc = 1.0000, Test Acc = 0.9966
Tree 18: Train Acc = 1.0000, Test Acc = 0.9966
Tree 19: Train Acc = 1.0000, Test Acc = 0.9971
Tree 20: Train Acc = 1.0000, Test Acc = 0.9977
Tree 21: Train Acc = 1.0000, Test Acc = 0.9980
Tree 22: Train Acc = 1.0000, Test Acc = 0.9978
Tree 23: Train Acc = 1.0000, Test Acc = 0.9978
Tree 24: Train Acc = 1.0000, Test Acc = 0.9980
Tree 25: Train Acc = 1.0000, Test Acc = 0.9980
Tree 26: Train Acc = 1.0000, Test Acc = 0.9981
Tree 27: Train Acc = 1.0000, Test Acc = 0.9980
Tree 28: Train Acc = 1.0000, Test Acc = 0.9982
Tree 29: Train Acc = 1.0000, Test Acc = 0.9983
Tree 30: Train Acc = 1.0000, Test Acc = 0.9981
Tree 31: Train Acc = 1.0000, Test Acc = 0.9983
Tree 32: Train Acc = 1.0000, Test Acc = 0.9983
Tree 33: Train Acc = 1.0000, Test Acc = 0.9985
Tree 34: Train Acc = 1.0000, Test Acc = 0.9985
Tree 35: Train Acc = 1.0000, Test Acc = 0.9985
Tree 36: Train Acc = 1.0000, Test Acc = 0.9986
Tree 37: Train Acc = 1.0000, Test Acc = 0.9987
Tree 38: Train Acc = 1.0000, Test Acc = 0.9988
Tree 39: Train Acc = 1.0000, Test Acc = 0.9988
Tree 40: Train Acc = 1.0000, Test Acc = 0.9988
Tree 41: Train Acc = 1.0000, Test Acc = 0.9988
Tree 42: Train Acc = 1.0000, Test Acc = 0.9988
Tree 43: Train Acc = 1.0000, Test Acc = 0.9988
Tree 44: Train Acc = 1.0000, Test Acc = 0.9989
Tree 45: Train Acc = 1.0000, Test Acc = 0.9987
Tree 46: Train Acc = 1.0000, Test Acc = 0.9987
Tree 47: Train Acc = 1.0000, Test Acc = 0.9986
Tree 48: Train Acc = 1.0000, Test Acc = 0.9987
Tree 49: Train Acc = 1.0000, Test Acc = 0.9987

In [37]:
from sklearn.model_selection import cross_val_score

cv_scores = cross_val_score(clf, X, y, cv=5)  # 5-fold cross-validation
print("Cross-validation accuracy:", cv_scores.mean())

Cross-validation accuracy: 0.9999800000000001